<!DOCTYPE html>
<html lang=”en”>
<head>
    <meta charset="UTF-8" />
    <title>{{ page.title }} - James McKay</title>

    <link href='//fonts.googleapis.com/css?family=Playfair+Display' rel='stylesheet' type='text/css' />
    <link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/static/template.css" />
</head>
<body>
    <div class="header-outer">
        <div class="header-inner">
            <header>
                    <h1><span>James McKay</span></h1>
                <nav class="button-menu">
                    <ul>
                        <li class="{% if page.url == '/' %}current-page-item{% endif %}"><a href="/">Portfolio</a></li>
                        <li class="{% if page.url == "/projects/" %}current-page-item{% endif %}"><a href="/projects">Projects</a></li>
                    </ul>
                </nav>
            </header>
        </div>
    </div>
    <div class="main-wrapper {{ page.pageClass }}">
        <main>
        {{ content }}
        </main>
    </div>
</body>
</html>
